/*estilos gerais*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body,html{
    height: 100%;
    scroll-behavior: smooth;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.title{
    margin-bottom: 15px;
    width: 100%;
}

/*header*/

header{
    /*background-color: #008037;*/
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 1px 1px 8px 0.2px black;
}

header > .container{
    max-width: 100%;
}

.logo{
    width: 100px;
    height: 100px;
    float: left;
}

.logo h2{
    width: 300px;
    display: block;
    color: white;
    float: left;
    margin-top: 30px;
}

.logo img{
    margin-top: 25px;
    display: none;
    width: 50px;
    height: 50px;
}

/*desktop*/

.desktop{
    display: block;
    float: right;
}

.desktop ul{
    list-style-type: none;
}

.desktop ul li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 38px;
}

.desktop ul li a{
    text-decoration: none;
    color: white;
}

.desktop-2{
    display: none;
    position: absolute;
    top: 35%;
    left: 32%;
}

.desktop-2 i{
    color: white;
    margin-right: 5px;
}

.desktop-2 input{
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}

/*mobile*/

.mobile{
	float: right;
	display: none;
}

.mobile ul{
	display: none;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 6rem;
	border-top:2px solid #005525;
	background: white;
	width: 100%;
	list-style-type: none;
}

.mobile ul li{
	text-align: center;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #008037;
	padding: 6.4px;
}

.mobile a{
	font-family: var(--font-primary);
	color: #008037;
	padding: 8px 20px;
	text-decoration: none;
}

.mobile > i{
    margin-top: 35px;
	cursor: pointer;
	font-size: 2rem;
	color: white;
}

/*BG*/

section.bg > .container{max-width: 100%;padding: 0;}
.bg-wrapper{width: 100%;height: 80vh;}
.bg-wrapper > a{
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: -80px;
    font-size: 50px;
}

.overlay{
    opacity: 1;
    background-color: black;
    height: 100%;
    z-index: 999;
}

.bg-img{
    position: relative;
    opacity: 0.8;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bg-text{position: absolute;top: 60%;left: 10%;color: white;text-shadow: 0 0 40px #323232;}

.bg-text h2{
    font-size: 30px;
    margin-bottom: -2px;
}

.bg-text p{
    font-size: 20px;
}

.bg-text form input[type=email]{
    border: 1px solid black;
    outline: 0;
    border-radius: 20px;
    padding: 3px 8px;
}

.bg-text form input[type=submit]{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
    padding: 3px 14px;
    color: #008037;
    text-decoration: underline;
    font-weight: 600;
}

section.dots{
    min-height: 60vh;
    /*background-color: #008037;*/
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
}

.dots-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.dots-single{
    z-index: 9999;
    width: 31.5%;
    height: 280px;
    margin-top: -50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 4px 20px 0.2px black;
    padding: 35px;
}

.dots-single i{
    font-size: 40px;
    color: #008037;
    font-weight: 700;
}

.dots-single h5{
    margin-top: 10px;
    font-size: 19px;
}

.dots-single p{
    margin-top: 10px;
    font-size: 15px;
}

.dots-single button{
    padding: 2px;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid black;
}

.dots-single button a{
    padding: 15px;
    color: #008037;
    font-weight: 600;
}

.dots-bottom{
    text-align: center;
    margin-top: 100px;
}

.dots-bottom-text{
    color: white;
}

.dots-bottom-text h2{
    text-shadow: 0px 3px 10px #000000;
    margin-bottom: 12px;
}

.dots-bottom-text button{
    padding: 2px;
    border-radius: 20px;
    border: 1px solid black;
}

.dots-bottom-text button a{
    padding: 15px;
    color: #008037;
    font-weight: 600;
}

/*sobre*/

section.sobre{
    min-height: 80%;
    padding: 50px;
}

.sobre-text button{
    padding: 2px;
    border-radius: 20px;
    border: 1px solid black;
}

.sobre-text button a{
    padding: 15px;
    color: #008037;
    font-weight: 600;
}

.sobre-img{
    text-align: center;
    height: 400px;
}

.sobre-img img{
    height: 100%;
}
/*produtos*/

section.produtos{
    padding: 50px;
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.produtos .title{
    color: white;
}

.produtos-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.produtos-single{
    padding: 10px;
    width: 25%;
}

.produtos-text{
    text-align: center;
    color: white;
}

.produtos-text img{
    border: 8px solid rgba(50, 50, 50, 0.06);
    width: 100%;
}

.produtos-text button{
    padding: 2px;
    border-radius: 20px;
    border: 1px solid black;
}
    
.produtos-text button a{
    padding: 15px;
    color: #008037;
    font-weight: 600;
}

.produtos-bottom{
    padding: 70px 0px 0px 0px;
    text-align: center;
}

.produtos-bottom h2{
    color: white;
    text-shadow: 0px 3px 10px #000000;
    margin-bottom: 12px;
}

.produtos-bottom button{
    padding: 2px;
    border-radius: 20px;
    border: 1px solid black;
}

.produtos-bottom button a{
    padding: 15px;
    color: #008037;
    font-weight: 600;
}

/*contato*/

section.contato{
    height: 80%;
    min-height: 80%;
    padding: 50px;
    position: relative;
}

.contato-wrapper{
    width: 80%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.contato-wrapper form{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.contato-wrapper form input{
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 8px;
    width: 80%;
}

.contato-wrapper form textarea{
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    height: 100px;
    resize: none;
    margin: 10px 0px;
    padding: 8px;
}

.contato-wrapper form input[type=submit]{
    width: 30%;
    height: 30px;
    padding: 5px 17px;
    color: #008037;
    font-weight: 600;
    border-radius: 20px; 
    border: 1px solid black;
    cursor: pointer;
    text-decoration: underline;
}

.sociais{
    padding: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociais h2{
    width: 30%;
}

.sociais a{
    color: #008037;
}

.sociais a i{
    padding: 0px 40px;
    font-size: 50px;
}

/*footer*/

footer{
    width: 100%;
}

footer > .container{
    max-width: 100%;
    padding: 0;
}

.footer-wrapper{
    width: 100%;
    /*background-color: #008037;*/
    background-image: url('../images/footer2.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
}

.footer-single{
    width: 33.3%;
}

.footer-single a{
    color: white;
}

.footer-wrapper-2{
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-image: url('../images/footer.jpg');
    background-size: cover;
    /*background-color: #006e30;*/
}

@media screen and (max-width: 768px){
    header{padding: 0px 25px;}
    .logo h2{display: none;}
    .logo img{display: block;}
    .desktop{display: none;}
    .desktop-2{display: none;}
    .mobile{display: block;}
    section.dots{
        min-height: 100vh;
        padding-bottom: 50px;
    }
    .dots-single{
        width: 100%;
        margin-bottom: 100px;
    }
    .dots-bottom{
        text-align: center;
        margin-top: -20px;
    }
    section.sobre{
        min-height: 50%;
    }
    .sobre-img{
        display: none;
    }
    .produtos-single{
        width: 100%;
    }
    section.contato{
        height: 100%;
        min-height: 100%;
        position: relative;
    }
    .contato-wrapper{
        height: 100%;
        width: 100%;
    }
    .contato-wrapper form{
        width: 100%;
    }
    .contato-wrapper form input{
        width: 100%;
    }
    .contato-wrapper form textarea{
        width: 100%;
    }
    .sociais{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .sociais a i{
        padding: 10px 20px;
        font-size: 40px;
    }
    .sociais h2{
        width: 100%;
    }
    .footer-single{
        width: 100%;
        margin: 15px 0;
    }
}